<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.damn.polito.commonresources">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application>
        <activity android:name=".EditProfile"></activity>
        <activity android:name=".Profile" />
    </application>

</manifest>